{% extends 'base.html' %}

{% block extra-head %}
<script>
  $(document).ready(function(){
    function colorer(e){
      e.preventDefault();
      $.ajax({
        method: 'POST',
        url: '/ajax_colorer/change',
        dataType: 'json',
        data: JSON.stringify({'bg': '', 'txt': '', 'txth': '', 'texb': ''}),
        success: function (data) {
          console.log(data);
          $(':root').css('--project-color', data.bg);
          $(':root').css('--text-color-dark', data.txt);
          $(':root').css('--text-color-dark-hover', data.txth);
          $(':root').css('--btn-text-body', data.txtb);
          var li_ = $('<li style="color:' + data.txt + '; background: ' + data.bg + '"></li>').text(data.bg);
          $('.history li:last').after(li_);
        },
        error: function(date){
          console.log(data);
        }
      })
    }
    $('.btn-bd-change').click(colorer);
  })
</script>

{% endblock %}

{% block title %}{{title}}{% endblock %}


{% block menu %}
<div class="navbar-nav-scroll">
  <ul class="navbar-nav bd-navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" href="/ajax_colorer">Домой</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/colorer/home">Калейдоскоп</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
  </ul>
</div>
<div class="navbar-nav flex-row ml-md-auto d-md-flex">
  <a class="btn btn-bd-change d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/ajax_colorer/change">Изменить</a>
</div>

{% endblock %}
{% block content %}
<div class="text-center">
  <h4>Используем AJAX</h4>
  <br/>
  <p>{{value|first}}</p>
</div>
{% endblock %}

{% block sidebar %}
  <aside>
    <span class="text-uppercase">История изменений</span>
    <ul class="history">
      {% for item in colors %}
        <li style="color:{{item.txt}}; background: {{item.bg}}">{{item.bg}}</li>
      {% endfor %}
    </ul>
  </aside>



{% endblock %}
{% block footer %}
<div class="text-center">
  <div class="project text-center">
    <h4>В проекте использованы</h4>
    <ul class="modules">
      <li class="foot-link">
        <a href="https://www.python.org/getit/">Python3</a>
      </li>
      <li class="foot-link">
        <a href="https://www.djangoproject.com/download/">Django2</a>
      </li>
      <li class="foot-link">
        <a href="https://getbootstrap.com">Bootstrap4</a>
      </li>
      <li class="foot-link">
        <a href="https://jquery.com/download/">jQuery3</a>
      </li>
     </ul>
  </div>
</div>
{% endblock %}
