{% extends 'base.html' %}

{% block extra-head %}
<script>
   var colors_var = '{{ json_colors|escapejs }}';
   var colors_var_parsed = jQuery.parseJSON(colors_var);
   $(':root').css('--project-color', colors_var_parsed.bg);
   $(':root').css('--text-color-dark', colors_var_parsed.txt);
   $(':root').css('--text-color-dark-hover', colors_var_parsed.txth);
    $(':root').css('--btn-text-body', colors_var_parsed.txtb);
</script>

{% endblock %}

{% block title %}{{title}}{% endblock %}


{% block menu %}
<div class="navbar-nav-scroll">
  <ul class="navbar-nav bd-navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" href="colorer/home">Домой</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ajax_colorer/home">Калейдоскоп-AJAX</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
  </ul>
</div>
<div class="navbar-nav flex-row ml-md-auto d-md-flex">
  <a class="btn btn-bd-change d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="colorer/change">Изменить</a>
</div>

{% endblock %}
{% block content %}
<div class="text-center">
  <h4>Проще простого!</h4>
  <p>{{value|first}}</p>
  <br/>
  {% if colors|length > 1%}
  <h4>Как это работает?</h4>
  {% endif %}
  {% if colors|length > 2%}
  <p>{{value|last}}</p>
  {% endif %}
</div>
{% endblock %}

{% block sidebar %}
  <aside>
    <span class="text-uppercase">История изменений</span>
    <ul class="history">
      {% for item in colors %}
        <li style="color:{{item.txt}}; background: {{item.bg}}">{{item.bg}}</li>
      {% endfor %}
    </ul>
  </aside>



{% endblock %}
{% block footer %}
<div class="text-center">
  <div class="project text-center">
    <h4>В проекте использованы</h4>
    <ul class="modules">
      <li class="foot-link">
        <a href="https://www.python.org/getit/">Python3</a>
      </li>
      <li class="foot-link">
        <a href="https://www.djangoproject.com/download/">Django2</a>
      </li>
      <li class="foot-link">
        <a href="https://getbootstrap.com">Bootstrap4</a>
      </li>
      <li class="foot-link">
        <a href="https://jquery.com/download/">jQuery3</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
